body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;

    font-size: 14px;
    line-height: 1.6;
    color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;

}

/*Nav*/

.nav-link {
    color: #868686;
    text-transform: uppercase;
    margin: 0 15px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 1px;
    transition: all .2s linear;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #ffbb42;
}

/* Banner */
.banner {
    width: 100%;
    background-color: #709dca;
    position: relative;
}

.banner_text {
    text-align: center;
}

.text_sub {
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}

.text_sup {
    margin-top: 0;
    padding-top: 0;
    font-size: 16px;
}

/*Form*/
.form__banner {
    margin: 33px auto 0 auto;
    text-align: center;
}

input[type='text'],
input[type='tel'] {
    margin-right: 10px;
    width: 280px;
    height: 46px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    padding-left: 40px;
}

input {
    outline: none
}

.input_banner {
    display: inline-block;
    position: relative;
}

.fas {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 16px;
    color: #6e6e6e;
    size: 5em;
}

.button_banner {
    display: inline-block;
    width: 210px;
    height: 46px;
    border: none;
    border-radius: 3px;

    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #868686;

    transition: all .2s linear;
}

.button_banner:hover {
    color: #ffffff;
    background-color: #ffbb42;
}

/* Slider */

.slider__banner {
    margin: 67px auto 0;
    width: 700px;
    height: 400px;
    text-align: center;
}



/* Our services*/
.section{
    padding:50px 0 ;
}
.service{
    padding-bottom: 0;
}
.section_head {
    text-align: center;
}

.section_sub {
    color: #394b50;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.section_sup {
    margin: 0 auto 55px auto;
    color: #394b50;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.services_item {
    position: relative;
    padding-left: 82px;
    padding-right: 100px;
    margin-bottom: 80px;
}

.services_title {
    font-size: 16px;
    color: #394b50;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services_icon {
    position: absolute;
    top: 0;
    left: 0;
}

.services_text {
    text-align: justify;
    color: #7b7b7b;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

/* About us*/

.about__us{
    padding-bottom: 0;
}

.info_about {
    display: flex;
    max-height: 625px;
}

.about {
    flex: 1 0;
    background-color: #ffc155;
}

/* .image__about {
    background: url('/images/about_us.jpg') 0 0/cover no-repeat;
} */

.title_about {
    color: #394b50;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

.text_about {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.button_about {
    width: 145px;
    height: 45px;
    border: #e7ad48 solid 1px;
    background-color: #ffc155;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 1px;
    text-align: center;
}

.about:last-child {
    padding: 160px 50px 70px 80px;
}

/* Prices*/
.prices-info {
    background-color: #e7edf3;
}

.prices {
    color: #818b95;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.prices .plan {
    background-color: #fff;
    width: 388px;
    height: 440px;
    text-align: center;
    padding: 56px 30px 47px;
    border: 1px solid #ccd5df;
}

.prices .plan ul li {
    list-style: none;
}

.plan_heading {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
}

.plan_price {
    font-size: 60px;
    color: #ffbb42;
    font-weight: bold;
    line-height: .2;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 0;
}

.dollar {
    vertical-align: top;
    font-size: 40px;
}

.per_month {
    color: #818b95;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.plan_features {
    text-align: center;
    color: #b5bbc1;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 30px 0;
    margin-bottom: 0;
}

.plan_features li {
    border-top: 1px solid #e2e9f0;
    padding: 10px;
}

.plan_button {
    width: 130px;
    height: 42px;
    color: #ffffff;
    background-color: #ffbb42;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
}

.plan.premium {
    width: 395px;
    height: 500px;
    padding-top: 85px;
    color: #ffffff;
    background-color: #709dca;
}

.plan.premium .plan_features {
    color: #ffffff;
}

.plan.premium .plan_price .per_month {
    color: #ffffff;
}

/*How it works*/
.steps_banner{
    width: 100%;
    text-align: center;
}

.how_it{
    width:100%;
    display: flex;
    justify-content:space-between;
    position: relative;
    margin-bottom: 90px;
}
.step{
    width:18%;
    margin: 20px;
}
.step_info{
    margin-top: 95px;
}
.title_step{
    color:#394b50;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.text_step{
    color:#7b7b7b;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    }
.image_step{
    margin-top: 45px;
    height: 67px;
}
.arrow_up1{
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: 2;
}
.arrow_down{
    position: absolute;
    top: 30%;
    left: 45%;
    z-index: 2;
}
.arrow_up2{
    position: absolute;
    top: 10%;
    left: 72%;
    z-index: 2;
}
.button_step{
    width:165px;
    height: 45px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #ffbb42;
    font-family:"Lato",sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    border:none;
    outline: none;
    transition: all 0.3s linear;
}
.button_step:focus{
    color:#ffbb42;
    background-color:#fff;
    }

    /* Clients*/
    .section.clients{
        background-color: #ffbb42;
    }
    .section_sub.clients{
    color:#fff;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    }
    .section_sup.clients{
    color:#ffffff;
    }
   
    .item_client{
        /* width:50%; */
        margin:0 20px 20px 0;
        padding:43px 40px 50px 30px;
        background-color:#ffffff;
        border-radius:3px;
    }
    /* .item_client:last-child{
        margin-right: 0;
    } */
    .photo_client{
       float: left;
       margin-right: 30px;
    }
    .info_client{
        text-align: left;
    }
    .text_client{
        color:#7b7b7b;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }
    .name_client{
        color:#99a9ae;
        font-size: 14px;
        text-transform: uppercase;
    }
    .surname{
        color:#f6772c;
    }
    
    /* Newsletter*/

    .section_sub.newsletter{
        color:#394b50;
        font-size:30px;
        font-weight: bolder;
        }
    .form_banner.letter{
        text-align: center;
        margin: 0 auto;
    }
    .letter input[type='text']{
        width:308px;
        height:47px;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        margin: 6px;
        border: 1px solid #cbcbcb ;
        border-radius: 3px;
        }
    .letter.button_banner{
        width:220px;
        height:47px;
    }
    .letter i{
        padding-top:7px;
    }
    .map{
        width:100%;
        height: 60vh;
        padding-top: 40px;
        margin-top: 50px;
        background:url('images/map.jpg') center no-repeat;
        -webkit-background-size:cover;
    }
    .address{
        text-align: center;
    }
    .circle{
        width: 280px;
        height: 280px;
        border-radius:50%;
        background-color: #394b50;
        text-align: center;
        margin:0 auto 30px;
        position: relative;
        }
    .triangle{
        width:0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 30px solid #394b50;
        position: absolute;
        bottom: -23px;
        left: 45%;
        z-index: 1;
    }
    .address_info{
        color:#aeb7ba;
        padding:50px;
    }
   .address_map{
       font-size: 13px;
       text-transform: uppercase;
       color:white;
    }
    
    .address_text{
        font-size: 13px;
    }
    .tel{
        color:#aeb7ba;
    }
    .email{
        color:#ffbb42;
    }

    /* footer*/
    .footer_menu{
        text-align: center;
    }
   .footer_nav ul{
       justify-content: center;
    }
    .footer_nav.nav.nav_link{
        color:#394b50;
    }
    .phone{
        color: #394b50;
        font-size: 23px;
        position: relative;
    }
    .phone .fas.fa-phone-alt{
        position: absolute;
        left: 37%;
        top:-5px;
    } 
    .social{
        position: relative;
    }
    .fab{
        color: #394b50;
        padding: 17px;
    }
    .fab:hover{
        color:#ffc155 ;
    }
    .copyright{
        width:100%;
        height: 40px;
        color: #fff;
        background-color: #709dca;
        margin: 0 auto;
        text-align: center;
    }
    .text_copyright{
        padding: 10px;
        font-size:13px;
        font-family: 'Open Sans', sans-serif;
    }
    .section:last-child{
        margin-bottom: 0;
    }

